extends layout

block content

    // Page Content
    .container
      // Page Heading/Breadcrumbs
      h1.mt-4.mb-3
        | Hello, James Tan!
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/home') Home
        |         
        li.breadcrumb-item.active My Recycling
      // Content Row
      .row
        // Sidebar Column
        .col-lg-3.mb-4
          .list-group
            a.list-group-item(href='/home') My Recycling
            |             
            a.list-group-item(href='') Request Pick-up
            |             
            a.list-group-item(href='') Scheduled
            |             
            a.list-group-item(href='') What To Recycle?
            |             
            a.list-group-item(href='') Rewards
            |             
            a.list-group-item(href='') Refer A Friend
            |             
            a.list-group-item(href='') Help Centre
            
        // Content Column
        .col-lg-9.col-md-4.text-center
          .service-box.mt-5.mx-auto
            img.className#IdName(src="./images/profilepic.png" alt="Profile Picture")
            h3.mb-0 James Tan
            p.text-muted.mb-0
              |Joined: 4th May 2018
              br
              |Points: 90
              br
              |Amount earned to date: 1000 

    .container
        .row
            .col-lg-9.col-md-6.text-center
                .service-box.mt-5.mx-auto
                i.fa.fa-4x.fa-check-circle-o.text-primary.mb-3.sr-icons
                h5.mb-3 Verified account badge
            .col-lg-9.col-md-6.text-center
                .service-box.mt-5.mx-auto
                i.fa.fa-4x.fa-thumbs-o-up.text-primary.mb-3.sr-icons
                h5.mb-3 Recycle target badge
        


        
           
        
    
      

    //Load JS
    include ./javascript.jade