//bootstrap core JS
script(src='/stylesheets/vendor/jquery/jquery.min.js')
script(src='/stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js')

//Plugin JS
script(src='/stylesheets/vendor/jquery-easing/jquery.easing.min.js')
script(src='/stylesheets/vendor/scrollreveal/scrollreveal.min.js')
script(src='/stylesheets/vendor/magnific-popup/jquery.magnific-popup.min.js')

//Custom JS
script(src='/javascripts/creative.min.js')
script(src='/javascripts/login.js')