doctype html
html
  head
    title= 'Gunny Sack'
    meta( name='charset', content='utf-8' )
    meta( name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no' )
    meta( name='author', content='Henry Lim' )

    //Boostrap CORE CSS
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/vendor/font-awesome/css/font-awesome.min.css',type ='text/css')

    // Custom styles for this template
    link(href='/stylesheets/css/modern-business.css', rel='stylesheet')
       
  body
    block content

    include footer