.container
	h3.omb_authTitle
		|Login or 
		a(href="#") Sign Up
	.omb_login
		.row.omb_row-sm-offset-3.omb_socialButtons
			.col-xs-8.col-sm-4
				a(href="#").btn.btn-lg.btn-block.omb_btn-facebook
					i.fa.fa-facebook.visible-xs
					span.hidden-xs
						| Facebook
			.col-xs-8.col-sm-4
				a(href="#").btn.btn-lg.btn-block.omb_btn-google
					i.fa.fa-google-plus.visible-xs
					span.hidden-xs
						| Google+
		.row.omb_row-sm-offset-3.omb_loginOr
			.col-xs-12.col-sm-6
				hr.omb_hrOr
				span.omb_spanOr Or
		.row.omb_row-sm-offset-3
			.col-xs-12.col-sm-6
				form.omb_loginForm(action="",method="POST")
					.input-group
						span.input-group-addon
							i.fa.fa-user
						input.form-control(type="text",placeholder="Email Address",name="username")